@model ToolsForEverApplication.Models.Artikel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artikel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inkoopprijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inkoopprijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verkoopprijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verkoopprijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabriek.Fabriek1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabriek.Fabriek1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Voorraad.Productcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Voorraad.Productcode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Productcode }) |
    @Html.ActionLink("Back to List", "Index")
</p>
