@model IEnumerable<ToolsForEverApplication.Models.Medewerkers>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voorletters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voorvoegsels)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Achternaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gebruikersnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Voorletters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voorvoegsels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Achternaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gebruikersnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Medewerkerscode }) |
            @Html.ActionLink("Details", "Details", new { id=item.Medewerkerscode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Medewerkerscode })
        </td>
    </tr>
}

</table>
